<div class="top">
    <h2>Danh sách sản phẩm</h2>
    <div class="right">
        <!-- <button class="btnX" pButton type="button" (click)="showAdd()" lable="Thêm"></button> -->
        <p-button icon="pi pi-external-link" label="Thêm"></p-button>
        
    </div>
</div>

<div class="bot">
    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
        <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> Họ tên </label>
                <div class="col-sm-11">
                    <input formControlName="hoTen" class="form-control" type="text" placeholder="Họ tên" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> Địa chỉ nhận</label>
                <div class="col-sm-11">
                    <input formControlName="diaChiNhan" class="form-control"  type="text" placeholder="Địa chỉ nhận" style="width: 100%;" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> Email</label>
                <div class="col-sm-11">
                    <input formControlName="email" class="form-control" type="text" placeholder="Email" style="width: 100%;" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"></label>
                <div class="col-sm-11">
                    <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                </div>
            </div>
        </form> 
    </p-panel>
    <p-table selectionMode="single" [value]="orders" styleClass="p-datatable-gridlines" [style]="{'margin-top': '2px', 'width': '100%'}"  [dataKey]="'maHoaDon'" (onRowExpand)="onRowExpand($event)">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 50px; text-align: center;">
                    <i class="ace-icon fa fa-expand-arrows-alt"></i>
                </th>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Địa chỉ nhận</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Tình trạng</th>
                <th>Tổng tiền</th>
                <th>Ngày đặt</th>
                <th>Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item  let-i="rowIndex" let-expanded="expanded">
            <tr>
                <td style="width: 50px; text-align: center;">
                    <a href="#" [pRowToggler]="item">
                        <i [ngClass]="expanded ? 'fa fa-fw fa-angle-double-down' : 'fa fa-fw fa-angle-double-right'"></i>
                    </a>
                </td>
                <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
                <td>{{item.hoTen}}</td>
                <td>{{item.diaChiNhan}}</td>
                <td>{{item.sdtNhan}}</td>
                <td>{{item.email}}</td>
                <td>{{item.tinhTrang}}</td>
                <td>{{item.tongTien}}</td>
                <td>{{item.ngayDat | DateVN}}</td>
                <td  style="text-align: center;">
                    <button pButton type="button" (click)="openUpdateModal(item)" title="Sửa"  class="p-button-secondary"><i class="fas fa-edit"></i></button>
                </td>
                <!-- <td class="action-col" >
                    <div class="btn-group">
                        <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(item)">  
                            <i class="ace-icon fa fa-edit"></i>
                        </button>
                        <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(item)">
                            <i class="ace-icon fa fa-trash"></i>
                        </button>
                    </div>  
                </td> -->
            </tr>
        </ng-template>
        <ng-template let-emp pTemplate="rowexpansion">
            <tr>
                <td [attr.colspan]="12" style="width: 100%;">
                    <div *ngIf="!doneSetup" class="loading-overlay">
                        <i class="fa fa-spinner fa-spin orange"></i>
                    </div>
                    <div *ngIf="doneSetup" class="ui-grid ui-grid-responsive ui-fluid">
                        <h3>THÔNG TIN ĐƠN HÀNG</h3>
                        <div>Họ tên: {{orderdetail.hoTen}}</div>
                        <div>Địa chỉ: {{orderdetail.diaChiNhan}}</div>
                        <h5>CHI TIẾT ĐƠN HÀNG</h5>
                        <p-table [value]="orderdetail.listjson_chitiet" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-it  let-i="rowIndex" >
                                <tr>
                                    <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
                                    <td>{{it.tenSanPham}}</td>
                                    <td>{{it.soLuong}}</td>
                                    <td>{{it.giaBan | currency: "VND"}}</td>
                                    <td>{{ it.giaBan * it.soLuong | currency: "VND"}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    
    <div style="position: relative;margin-left: 40%;">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>

<p-dialog [(visible)]="display" [style]="{width: '100vw'}" [dismissableMask]="true" [modal]="true">
    <div class="modal-dialog modal-lg full-height-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật hóa đơn bán hàng</h4>
            </div>
            <form *ngIf="doneSetupForm" [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)"
            class="form-horizontal utehy-form">
            <div class="modal-body no-padding">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> Họ tên(<span style="color: red;">*</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Họ tên" formControlName="hoTen" />
                        <div *ngIf="submitted && f.hoTen.errors" class="invalid-feedback">
                            <div *ngIf="f.hoTen.errors.required">Họ tên là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> Địa chỉ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="diaChiNhan" placeholder="Địa chỉ" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"> Sản phẩm</label>
                    <div class="col-sm-4">
                        <p-dropdown class="form-control" [options]="SanPhams" formControlName="sanpham" [(ngModel)]="SanPham" optionLabel="tenSanPham" optionValue="maSanPham" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                    <label class="col-sm-2 control-label no-padding-right"> Số lượng</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" formControlName="soLuong" [(ngModel)]="soLuong" placeholder="Số lượng" />
                    </div>
                    <div>
                        <button type="button" class="btn btn-default btn-sm" (click)="Them()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="!doneSetupForm" class="loading-overlay">
                    <i class="fa fa-spinner fa-spin orange"></i>
                </div>
                <div *ngIf="doneSetupForm" class="ui-grid ui-grid-responsive ui-fluid">
                    <h3>THÔNG TIN ĐƠN HÀNG</h3>
                    <div>Họ tên: {{orderdetail.hoTen}}</div>
                    <div>Địa chỉ: {{orderdetail.diaChiNhan}}</div>
                    <h5>CHI TIẾT ĐƠN HÀNG</h5>
                    <p-table [value]="orderdetail.listjson_chitiet" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th style="width: 100px;">Số lượng</th>
                                <th style="width: 100px;">Giá bán</th>
                                <th style="width: 100px;">Thành tiền</th>
                                <th style="width: 50px;">Tác vụ</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-it>
                            <tr>
                                <td>{{it.tenSanPham}}</td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input formControlName="abc" pInputText type="text" [(ngModel)]="it.soLuong">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{it.soLuong}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td> 
                                <td>{{it.giaBan}}</td>
                                <td>{{it.giaBan * it.soLuong}}</td>
                                <td style="width: 50px;"><button type="button" class="btn btn-default btn-sm" (click)="Xoa(it)">
                                    <i class="fa fa-times"></i>
                                </button></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-sm btn-submit">
                    <i class="fa fa-save"></i> Cập nhật
                </button>
                <button type="button" class="btn btn-default btn-sm" (click)="display=false">
                    <i class="fa fa-times"></i> Đóng lại
                </button>
            </div>
        </form>
    </div>
</div>
</p-dialog>