<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <div id="main">
                <div class="page-home">

                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <span>Trang chủ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>tin tức</span>
                                        </a>
                                    </li>
                                   
                                </ol>
                            </div>
                        </div>
                    </nav>
                    <br>
                    <br>
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                    <!-- category -->
                                    <div class="sidebar-block">
                                        <div class="title-block">Danh mục tin tức</div>
                                        <div class="block-content">
                                           
                                            <div class="cateTitle hasSubCategory open level1">
                                                <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#bathroom" aria-expanded="false" role="status">
                                                    <i class="zmdi zmdi-minus"></i>
                                                    <i class="zmdi zmdi-plus"></i>
                                                </span>
                                                <a class="cateItem" href="#">Danh mục</a>
                                                <div class="subCategory collapse" id="bathroom" aria-expanded="false" role="status">
                                                    <div class="cateTitle" *ngFor="let item of categories">
                                                        <a routerLink="tin-tuc-chi-tiet/{{item.id}}" class="cateItem">{{item.name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>

                                    <!-- recent posts -->
                                    <div class="sidebar-block">
                                        <div class="title-block"></div>
                                        <div class="post-item-content">
                                            <div>
                                                <div class="late-item first-child">
                                                    <a routerLink="/tin-tuc-chi-tiet/{{listItem.Items[0].id}}">
                                                        <p class="content-title">{{listItem.Items[0].name}}</p>
                                                    </a>
                                                    <span>
                                                        <i class="zmdi zmdi-comments"></i> ---
                                                    </span>
                                                    <span>
                                                        <i class="zmdi zmdi-calendar-note"></i>{{listItem.Items[0].createdAt| date:'dd/MM/yyyy'}}
                                                    </span>
                                                    <p class="description">{{listItem.Items[0].description}}
                                                    </p>
                                                    <p class="remove">
                                                        <a routerLink="/tin-tuc-chi-tiet/{{listItem.Items[0].id}}">Xem</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="late-item">
                                                    <a routerLink="/tin-tuc-chi-tiet/{{listItem.Items[1].id}}">
                                                        <p class="content-title">{{listItem.Items[1].name}}</p>
                                                    </a>
                                                    <span>
                                                        <i class="zmdi zmdi-comments"></i>---
                                                    </span>
                                                    <span>
                                                        <i class="zmdi zmdi-calendar-note"></i>{{listItem.Items[1].createdAt| date:'dd/MM/yyyy'}}
                                                    </span>
                                                    <p class="description">{{listItem.Items[0].description}}
                                                    </p>
                                                    <p class="remove">
                                                        <a routerLink="/tin-tuc-chi-tiet/{{listItem.Items[0].id}}">Xem </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="sidebar-block group-image-special">
                                            <div class="effect">
                                                <a href="{{slide[0].url}}">
                                                    <img class="img-fluid" src="{{_url}}{{slide[0].image}}" alt="banner-2" title="banner-2">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- product tag -->
                                  

                                    <!-- advertising -->
                                   

                                </div>
                                <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                    <h2></h2>
                                    <div class="list-content row " style="margin-bottom: 15px;" *ngFor="let item of listItem.Items">
                                        <div class="hover-after col-md-5 col-xs-12" >
                                            <a routerLink="/tin-tuc-chi-tiet/{{item.id}}">
                                                <img width="300px" src="{{_url}}{{item.image}}" alt="img">
                                            </a>
                                        </div>
                                        <div class="late-item col-md-7 col-xs-12">
                                            <p class="content-title">
                                                <a routerLink="/tin-tuc-chi-tiet/{{item.id}}">{{item.name}}</a>
                                            </p>
                                            <p class="post-info">
                                                <span>{{item.createdAt | date}}</span>
                                                <span>113 Comments</span>
                                                <span>TIVATHEME</span>
                                            </p>
                                            <p class="description">{{item.description}}
                                            </p>
                                            <span class="view-more" >
                                                <a routerLink="/tin-tuc-chi-tiet/{{item.id}}">Xem chi tiết</a>
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <div class="page-list col">
                                        <ngb-pagination class="previous disabled js-search-link" [collectionSize]="listItem.TotalRecords" [pageSize]="listItem.PageSize"
            [(page)]="listItem.PageIndex" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)">
        </ngb-pagination>
                                                   
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
