<header>
  <!-- header left mobie -->
  <div class="header-mobile d-md-none">
      <div class="mobile hidden-md-up text-xs-center d-flex align-items-center justify-content-around">

          <!-- menu left -->
          <div id="mobile_mainmenu" class="item-mobile-top">
              <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <!-- logo -->
          <div class="mobile-logo">
              <a href="home2.html">
                  <img class="logo-mobile img-fluid" src="assets/img/home/logo-mobie.png" alt="Prestashop_Furnitica">
              </a>
          </div>

          <!-- menu right -->
          <div class="mobile-menutop" data-target="#mobile-pagemenu">
              <i class="zmdi zmdi-more"></i>
          </div>
      </div>

      <!-- search -->
      <div id="mobile_search" class="d-flex">
          <div id="mobile_search_content">
              <form method="get" action="#">

                  <input type="text" name="s" value="" placeholder="Search">
                  <button type="submit">
                      <i class="fa fa-search"></i>
                  </button>
              </form>
          </div>
          <div class="desktop_cart">
              <div class="blockcart block-cart cart-preview tiva-toggle">
                  <div class="header-cart tiva-toggle-btn">
                      <span class="cart-products-count">{{total}}</span>
                      <a href="cart.html" class="cart-icon">
                       
                             <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </a>  
                  </div>
                  <div class="dropdown-content">
                      <div class="cart-content">
                        <app-add-cart-section></app-add-cart-section>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- header desktop -->
  <div class="header-top d-xs-none">
      <div class="row margin-0">

          <!-- menu -->
          <div class="d-flex icon-menu align-items-center justify-content-center">
              <i class="fa fa-bars" aria-hidden="true" id="icon-menu"></i>
          </div>
          <div class="main-menu d-flex align-items-center justify-content-start navbar-expand-md">
              <div class="menu navbar collapse navbar-collapse">
                  <ul class="menu-top navbar-nav">
                      <li class="nav-link">
                          <a routerLink="/" class="parent">Trang chủ</a>
                      </li>
                      <li>
                          <a href="#" class="parent">Sản Phẩm</a>
                          <div class="dropdown-menu">
                              <ul>
                                <li *ngFor="let category of categories" class="item">
                                     <a routerLink="/product-list/{{category.code}}">{{category.name}}</a>
                                </li> 
                              </ul>
                          </div>
                      </li>

                      <li >    
                        <a href="#" class="parent">Tin tức</a>
                          <div class="dropdown-menu">
                              <ul>
                                <li *ngFor="let category of categoriesblog" class="item">
                                     <a routerLink="/tin-tuc/{{category.code}}">{{category.name}}</a>
                                </li> 
                              </ul>
                          </div></li>
                      <li ><a  class="parent"  routerLink="about-us">Thông tin</a></li>
                      <li ><a  class="parent" routerLink="contact-us">Liên hệ</a></li>
                     
                  </ul>
              </div>
          </div>

          <!-- logo -->
          <div class="flex-2 d-flex align-items-center justify-content-center">
              <div id="logo">
                  <a href="home2.html">
                      <img src="assets/img/home/logo.png" alt="logo">
                  </a>
              </div>
          </div>

          <!-- search and acount -->
          <div id="search_widget" class="d-flex align-items-center justify-content-end">
              <div class="search-header-top d-flex align-items-center justify-content-center">
                  <i class="search fa fa-search"></i>
              </div>
              <div id="block_myaccount_infos">
                  <div class="myaccount-title hidden-sm-down dropdown d-flex align-items-center justify-content-center">
                      <a href="#acount" data-toggle="collapse" class="acount">
                          <i class="fa fa-user" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div id="acount" class="collapse">
                      <div class="account-list-content">
                          <div>
                              <a class="login" routerLink="shopping/register" rel="nofollow" title="Log in to your customer account">
                                  <i class="fa fa-cog"></i>
                                  <span>Đăng ký</span>
                              </a>
                          </div>
                          <div>
                              <a class="login"  routerLink="shopping/login" rel="nofollow" title="Log in to your customer account">
                                  <i class="fa fa-sign-in"></i>
                                  <span>Đăng nhập</span>
                              </a>
                          </div>
                          
                      </div>
                  </div>
              </div>
              
              <div class="desktop_cart d-flex align-items-center">
                  <div class="blockcart block-cart cart-preview tiva-toggle">
                      <div class="header-cart tiva-toggle-btn">
                          <span class="cart-products-count">{{total}}</span>
                          <a routerLink="shopping/cart" class="cart-icon">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                      </div>
                      <div class="dropdown-content">
                          <div class="cart-content">
                            <app-add-cart-section></app-add-cart-section>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
