

    <nav class="breadcrumb-bg">
        <div class="container no-index">
            <div class="breadcrumb">
                <ol>
                    <li>
                        <a href="/">
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Liên hệ</span>
                        </a>
                    </li>
                    
                 
                </ol>
            </div>
        </div>
    </nav>


<!-- ...:::: Start Shop Section:::... -->
<!-- ...:::: End Breadcrumb Section:::... -->

<!-- Start About Top -->
<div class="about-top">
    <div class="container">
        <div class="col-md-12">
            <p style="text-align: center;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 18pt; color: #333399;">CÔNG TY TNHH MÁY TÍNH VÀ VIỄN THÔNG VAN THE</span><br> <br> </strong></span></p>
      <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Là một trong những doanh nghiệp hàng đầu về lĩnh vực kinh doanh trong lĩnh vực Công nghệ thông tin, công ty TNHH Máy Tính và Viễn Thông Van The luôn là sự lựa chọn tin cậy dành cho khách hàng. Được thành lập ngày 20 tháng 4 năm 2009, &nbsp;Van The là tâm huyết của những sáng lập viên giàu kinh nghiệm, năng động và đầy nhiệt huyết trong ngành Công nghệ thông tin.</span></p>
      <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Công ty luôn tự hào mang đến cho Khách hàng sự tin cậy với những sản phẩm chính hãng, mới 100%, giá cả cạnh tranh tốt nhất Miền Bắc cũng như trên toàn quốc. Để được phục vụ tốt nhất, quý khách hàng vui lòng liên hệ vơi chúng tôi theo thông tin sau:</span></p>
      <table style="width: 100%;" border="1px">
      <tbody>
      <tr>
      <td style="width: 50%; background-color: #1a4388; text-align: center;"><span style="color: #ffffff; font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong><br>SHOWROOM 25 YÊN LÃNG<br><br></strong></span></td>
      <td style="width: 50%; background-color: #1a4388; text-align: center;"><span style="color: #ffffff; font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>SHOWROOM 105 MỄ TRÌ THƯỢNG</strong></span></td>
      </tr>
      <tr>
      <td style="width: 50%;">
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Địa chỉ:</strong> Số 25 Yên Lãng - Trung Liệt - Đống Đa - Hà Nội</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Hotline:</strong> 1900 2655 (+ 101, + 102)<br>- &nbsp;0922.744.999</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Thời gian làm việc:</strong></span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Thứ 2 - Thứ 7: (08h00 - 20h30)</span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Chủ nhật: (09h00 - 12h00 &amp; 13h30 - 18h30)</span></p>
      </td>
      <td style="width: 50%;">
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Địa chỉ:</strong> Số 105 Mễ Trì Thượng - Mễ Trì - Nam Từ Liêm - Hà Nội</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Hotline:</strong> 1900 2655 (+301, +103)</span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- 098 638 9981</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Thời gian làm việc:</strong></span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Thứ 2 - Thứ 7: (08h00 - 12h00 &amp; 13h15 - 19h00)</span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Chủ nhật: (09h00 - 12h00 &amp; 13h30 - 18h30)</span></p>
      </td>
      </tr>
      <tr>
      <td style="width: 50%; background-color: #1a4388; text-align: center;"><span style="color: #ffffff; font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong><br>KINH DOANH PHÂN PHỐI<br><br></strong></span></td>
      <td style="width: 50%; background-color: #1a4388; text-align: center;"><span style="color: #ffffff; font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>TƯ VẪN DOANH NGHIỆP - DỰ ÁN</strong></span></td>
      </tr>
      <tr>
      <td style="width: 50%;">
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong><br>- Địa chỉ: </strong>Số 25 Yên Lãng - Trung Liệt - Đống Đa - Hà Nội</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Hotline:</strong> 1900 2655 (+ 203, +204, + 205, +206, + 207)</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Thời gian làm việc:</strong></span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Thứ 2 - Thứ 6: 08h00 - 12h00 &amp; 13h15 - 17h15</span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Thứ 7: 08h00 - 12h00 &amp; 13h15 - 16h45</span></p>
      </td>
      <td style="width: 50%;">
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Địa chỉ:</strong> Số 105 Mễ Trì Thượng - Mễ Trì - Nam Từ Liêm - Hà Nội</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Mr Phạm Anh Dậu:</strong> 0981 999 688</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Thời gian làm việc:</strong></span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"> + 08h00 – 17h15 (Thứ 2 - Thứ 7)</span></p>
      </td>
      </tr>
      <tr>
      <td style="width: 50%; background-color: #1a4388; text-align: center;"><span style="color: #ffffff; font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong><br>PHÒNG BẢO HÀNH<br><br></strong></span></td>
      <td style="width: 50%; background-color: #1a4388; text-align: center;"><span style="color: #ffffff; font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>KHIẾU NẠI – GÓP Ý - CSKH</strong></span></td>
      </tr>
      <tr>
      <td style="width: 50%;">
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Địa chỉ:</strong> Tầng 2, Số 25 Yên Lãng, Trung Liệt, Đống Đa, Hà Nội</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Hotline:</strong> 1900 2655 (+105, + 106)</span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- 093.669.7181</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Thời gian làm việc:</strong></span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Thứ 2 - Thứ 6: 08h00 - 12h00 &amp; 13h15 - 17h15</span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Thứ 7: 08h00 - 12h00 &amp; 13h15 - 16h45</span></p>
      </td>
      <td style="width: 50%;">
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong><br>- Khiếu nại – Góp ý:</strong></span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Nguyễn Bích Huệ</strong> </span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Tel: 098 523 8989</span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Email: huenb@ankhang.vn</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Chăm sóc khách hàng</strong></span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Email: cskh@ankhang.vn</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>- Thời gian làm việc:</strong></span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">+ Thứ 2 - Thứ 7: 08h00 - 12h00 &amp; 13h15 - 17h15</span></p>
      </td>
      </tr>
      </tbody>
      </table>
      <p style="text-align: center;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
      <p style="text-align: center;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><strong>THÔNG TIN VIẾT HÓA ĐƠN&nbsp;:</strong></span></p>
      <p style="text-align: center;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">CÔNG TY TNHH MÁY TÍNH VÀ VIỄN THÔNG VAN THE</span></p>
      <p style="text-align: center;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Mã số thuế: 0103728344</span></p>
      <p style="text-align: center;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Địa chỉ:&nbsp; Số 25 Phố Yên Lãng - Phường Trung Liệt -&nbsp;Quận Đống Đa - Thành phố Hà Nội, Việt Nam.</span></p>
            <div class="clear space10px"></div>
          </div>
    </div>         
</div>
<!-- End About Top -->

<!-- Start Slill Progress -->
