 <div class="container">
    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul style="padding: 10px">
                                <li><a routerLink="/">Trang chủ</a></li>
                                <li>Lỗi 404</li>
                               
                            </ul>
                        </nav>
                    </div>
 </div>
<!-- ...:::: Start Error Section :::... -->
<div class="error-section">
    <div class="container">
        <div class="row">
            <div class="error-form">
                <h1 class="big-title" data-aos="fade-up"  data-aos-delay="0">404</h1>
                <h4 class="sub-title" data-aos="fade-up"  data-aos-delay="200">Opps! Không Tìm thấy trang</h4>
                <p data-aos="fade-up"  data-aos-delay="400">Xin lỗi, nhưng trang bạn đang tìm kiếm không tồn tại, đã được bị xóa, tên đã thay đổi hoặc tạm thời không khả dụng.</p>
                <div class="row">
                    <div class="col-10 offset-1 col-md-4 offset-md-4">
                        <div class="default-search-style d-flex" data-aos="fade-up" data-aos-delay="600">
                            <input class="default-search-style-input-box" type="search" placeholder="Search..." required>
                            <button class="default-search-style-input-btn" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <a href="/" class="btn btn-md btn-black-default-hover mt-7" data-aos="fade-up"  data-aos-delay="800">Quay về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Error Section :::... -->