<app-navbar></app-navbar>
<div class="main-container ace-save-state" id="main-container" style="padding-top: 41px;">
  <app-sidebar></app-sidebar> 
  <div class="main-content">
    <div class="main-content-inner">
      <router-outlet></router-outlet>
    </div> 
  </div><!-- /.main-content -->
  <app-footer></app-footer> 
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
  </a>
</div><!-- /.main-container -->
