<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <div id="main">
                <div class="page-home">

                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a routerLink="/">
                                            <span>Trang chủ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Hồ sơ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Giỏ hàng</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>
                    <br>
                    <br>
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                    <!-- category -->
                                    <div class="sidebar-block">
                                        <div class="title-block">Tài khoản của tôi</div>
                                        <div class="block-content">
                                            <div class="cateTitle hasSubCategory open level1">
                                                <a class="cateItem" routerLink="/customer">Hồ sơ</a>
                                            </div>
                                            <div class="cateTitle hasSubCategory open level1">
                                                <a class="cateItem" routerLink="/customer/address">Địa chỉ</a>
                                            </div>
                                            <div class="cateTitle hasSubCategory open level1">
                                                <a class="cateItem" routerLink="/customer/history-order">Đơn mua</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs" style="width: 80%;">
                                    <div class="content" id="block-history">
                                        <div class="text-right no-gutters" [hidden]="item.orderStatus<=1?false:true">
                                            <button class="btn btn-primary" data-link-action="sign-in"  (click)="Cancel(item.id)">
                                                Hủy đơn hàng
                                           </button>
                                           
                                        </div>
                                       
                                        <table class="std table">
                                            <tbody>
                
                                                <tr>
                                                    <th class="first_item">Mã đơn hàng :</th>
                                                    <td>{{item.stt}}</td>
                                                    <td>Ngày: {{item.createdAt}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="first_item">Người nhận :</th>
                                                    <td>{{item.customerName}}</td>
                                                </tr>
                                              
                                                <tr>
                                                    <th class="first_item">Địa chỉ :</th>
                                                    <td>{{item.customerAddress}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="first_item">số điện thoại :</th>
                                                    <td>{{item.customerMobile}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="first_item">Tổng hóa đơn:</th>
                                                    <td>{{item.amount|currency}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                 <br>
                                    <div id="main">
                                
                                        <div id="block-history" class="block-center">
                                            <table class="std table">
                                                <thead>
                                                    <tr>
                                                        <th class="first_item">Tên sản phẩm</th>
                                                        <th class="first_item">Số lượng</th>
                                                        <th class="item mywishlist_first">Đơn giá</th>
                                                        <th class="item mywishlist_first">Thành tiền</th>
                                                        <th class="item mywishlist_second">Ảnh</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr id="wishlist_1"  *ngFor="let item of item.vB20OrderDetail_Json">
                                                        <td>
                                                           {{item.productName}}
                                                        </td>
                                                        <td class="bold align_center">
                                                          {{item.quantity}}
                                                        </td>
                                                        <td>{{item.unitPrice|currency}}</td>
                                                        <td>{{item.amount|currency}}</td>
                                                        <td><img width="100px" src="{{_url}}{{item.image}}" alt=""></td>
                                                       
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>