<div class="vertical-menu">
    
    <div data-simplebar class="h-100">
        
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>
                
                <li>
                    <a [routerLink]="['/dashboard']"  class="waves-effect">
                        <span class="badge rounded-pill bg-primary float-end">20+</span>
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                
                <li>
                    <a (click)="onLogOut()"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Đăng xuất </span>
                    </a>
                </li>
              
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Danh mục </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a [routerLink]="['/post-category']" >
                                <span>Danh mục loại tin tức</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/post']" >
                                <span>Danh mục tin tức</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/product-category']" >
                                <span>Danh mục loại sản phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/product']" >
                                <span>Danh mục sản phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/manufacturer']" >
                                <span>Danh mục hãng sản xuất</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/slide']" >
                                <span>Danh mục Silde</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Chứng từ </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a [routerLink]="['/acc-doc']" >
                                <span>Phiếu nhập mua</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/order']" >
                                <span>Đơn đặt hàng</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/acc-doc']" >
                                <span>Hàng bán bị trả lại</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Tổng hợp </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a [routerLink]="['/post-category']" >
                                <span>Tồn Đầu </span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-email-outline"></i>
                        <span> Báo cáo</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['/manage-best-selling']">Thống kê sản phẩm bán chạy</a></li>
                        <li><a [routerLink]="['/manage-amount']">Thống kê số lượng</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Hệ thống </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a [routerLink]="['/app-user']" >
                                <span>Người dùng</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/history']" >
                                <span>Lịch sử người dùng</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/log']" >
                                <span>Error chương trình</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>