
<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <div id="main">
                <div class="page-home">

                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a routerLink="/">
                                            <span>Trang chủ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Tin Tức</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Chi tiết</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>
                    <br>
                    <br>
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                    <!-- category -->
                                    <div class="sidebar-block">
                                        <div class="title-block">Tài khoản của tôi</div>
                                        <div class="block-content">
                                            <div class="cateTitle hasSubCategory open level1">
                                                <a class="cateItem" routerLink="/customer">Hồ sơ</a>
                                            </div>
                                            <div class="cateTitle hasSubCategory open level1">
                                                <a class="cateItem" routerLink="/customer/address">Địa chỉ</a>
                                            </div>
                                            <div class="cateTitle hasSubCategory open level1">
                                                <a class="cateItem" routerLink="/customer/history-order">Đơn mua</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs" style="width: 80%;">
                                  
                                    <div id="main">
                                       
                                        <div class="content" id="block-history">
                                            <table class="std table">
                                                <tbody>
                    
                                                    <tr>
                                                        <th class="first_item">Id Account :</th>
                                                        <td>{{item[0].code}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="first_item">Tên :</th>
                                                        <td>{{item[0].name}}</td>
                                                    </tr>
                                                  
                                                    <tr>
                                                        <th class="first_item">Email :</th>
                                                        <td>{{item[0].email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="first_item">Giới Tính :</th>
                                                        <td>{{item[0].gender === 1?"Nam":"Nữ"}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="first_item">Số điện thoại:</th>
                                                        <td>{{item[0].phone}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="first_item">Tài khoản :</th>
                                                        <td>{{item[0].userName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="first_item">Ngày sinh:</th>
                                                        <td>{{item[0].birthDate|date}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                    
                                        </div>
                                     
                                      
                                    </div>
                                   
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>