<div class="top">
    <h2>Danh sách nhóm nhân viên</h2>
    <div class="right">
        <!-- <button class="btnX" pButton type="button" (click)="showAdd()" lable="Thêm"></button> -->
        <p-button (click)="showAdd()" icon="pi pi-external-link" label="Thêm"></p-button>
        
    </div>
</div>
<div class="bot">
    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
        <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> Họ tên </label>
                <div class="col-sm-11">
                    <input formControlName="hoTen" class="form-control" type="text" placeholder="Họ tên" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> Tài khoản </label>
                <div class="col-sm-11">
                    <input formControlName="taiKhoan" class="form-control" type="text" placeholder="Tài khoản" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"></label>
                <div class="col-sm-11">
                    <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                </div>
            </div>
        </form> 
    </p-panel>
    <p-table selectionMode="single" [value]="Pemisions" styleClass="p-datatable-gridlines" [style]="{'margin-top': '2px', 'width': '100%'}" >
        <ng-template pTemplate="header">
            <tr>
                <th>STT</th>
                <th>Mã</th>
                <th>Tên nhóm</th>               
                <th>Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item  let-i="rowIndex" let-expanded="expanded">
            <tr>
                <td style="text-align: center;">{{i+1}}</td>             
                <td>{{item.code}}</td>
                <td>{{item.name}}</td>                
                <td  style="text-align: center;">
                    <button pButton type="button" (click)="showEdit(item)" title="Sửa"  class="p-button-secondary"><i class="fas fa-edit"></i></button>
                    <button pButton type="button" (click)="delete(item.id)" title="Xóa"  class="p-button-danger"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
   
</div>

<p-dialog [(visible)]="displayAdd" [style]="{width: '30vw'}" [dismissableMask]="true" [modal]="true">
    <!-- Content -->
    <form (ngSubmit)="AddNew(form)" #form="ngForm">
        <ng-template pTemplate="header">
            <h3>Thêm tin tức mới</h3>
        </ng-template>
        <div style="width: 90%; margin-left: 5%;">
            <label style="font-weight: bold;">Mã:</label>
            <input name="code"  ngModel #code="ngModel" type="text" class="form-control" placeholder="Tên loại">
            <label style="font-weight: bold;">Tên nhóm:</label>
            <input name="name"  ngModel #name="ngModel" type="text" class="form-control" placeholder="Tên loại">
           
            <br>
        </div>

        <p-footer>
            <button type="submit" class="btn btn-primary waves-effect waves-light mr-2">
                <i class="mdi mdi-check"></i>
                Thêm
            </button>
            <button type="button" (click)="displayAdd = false" class="btn btn-danger waves-effect waves-light"> <i
                    class="mdi mdi-window-close"></i>
                Huỷ</button>
        </p-footer>
    </form>
</p-dialog>



