<div class="top">
    <h2>Danh sách loại sản phẩm</h2>
    <div class="right">
        <p-button (click)="showAdd()" icon="pi pi-external-link" label="Thêm"></p-button>

    </div>
</div>
<div class="bot">
    <p-table selectionMode="single" [value]="categories" styleClass="p-datatable-gridlines"
        [style]="{'margin-top': '2px', 'width': '100%'}">
        <ng-template pTemplate="header">
            <tr>
                <th>STT</th>
                <th>Tên loại</th>
                <th>Nhóm</th>
                <th>Mô tả</th>
                <th>Hình ảnh</th>
                <th>Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category let-i="rowIndex">
            <tr>
                <td style="text-align: center;">{{i+1}}</td>
                <td style="text-align: center;">{{category.tenLoai}}</td>
                <td>{{category.tenNhom}}</td>
                <td>{{category.moTa  }}  </td>
                <td>{{category.anh}}</td>
                <td style="text-align: center;">
                    <button pButton type="button" title="Sửa" class="p-button-secondary"><i
                            class="fas fa-edit"></i></button>
                    <button (click)="delete(category.maLoai)" pButton type="button" title="Xóa" class="p-button-danger"><i
                            class="fas fa-trash"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="mt-5" style="position: relative;margin-left: 40%;">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="10"
            [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>
<!-- Add -->
<p-dialog [(visible)]="displayAdd" [style]="{width: '30vw'}" [dismissableMask]="true" [modal]="true">
    <!-- Content -->
    <form (ngSubmit)="AddNew(form)" #form="ngForm">
        <ng-template pTemplate="header">
            <h3>Thêm tin tức mới</h3>
        </ng-template>
        <div style="width: 90%; margin-left: 5%;">
            <label style="font-weight: bold;">Tên loại:</label>
            <input name="tenLoai"  ngModel #tenLoai="ngModel" type="text" class="form-control" placeholder="Tên loại">
            <label hidden style="font-weight: bold;">Tên nhóm:</label>
            <p-dropdown hidden class="form-control" [options]="productsGroup" [(ngModel)]="selectedProductGroup"  name="MaNhom"  ngModel #MaNhom="ngModel"
                placeholder="Chọn nhóm sản phẩm" optionLabel="tenNhom" optionValue="maNhom" [showClear]="true"></p-dropdown>
            <label style="font-weight: bold;">Mô tả:</label>
            <p-editor [style]="{'height':'320px'}" name="moTa"  ngModel #moTa="ngModel"></p-editor>
           <input type="file" class="form-control" (change)="onChange($event)">
            <img [src]="image" style="max-height:200px;">
            <br>
        </div>

        <p-footer>
            <button type="submit" class="btn btn-primary waves-effect waves-light mr-2">
                <i class="mdi mdi-check"></i>
                Thêm
            </button>
            <button type="button" (click)="displayAdd = false" class="btn btn-danger waves-effect waves-light"> <i
                    class="mdi mdi-window-close"></i>
                Huỷ</button>
        </p-footer>
    </form>
</p-dialog>
<!-- View -->
<!-- <p-dialog [(visible)]="displayView" [style]="{width: '60vw'}" [modal]="true">
        <ng-template pTemplate="header">
            <h3></h3>
        </ng-template>
        <h1 *ngIf="displayView == true">{{detail.tieuDe}}</h1>
        <div style="max-width: 100%; z-index: 9999;" [innerHTML]="detail.noiDung" *ngIf="displayView == true"></div>
        <p-footer>
            <button type="button" (click)="displayView = false" class="btn btn-danger waves-effect waves-light"> <i
                class="mdi mdi-window-close"></i>
                Đóng</button>
            </p-footer>
        </p-dialog> -->
<!-- Edit -->
<!-- <p-dialog [(visible)]="displayEdit" [style]="{width: '60vw'}" [dismissableMask]="true" [modal]="true">
            <ng-template pTemplate="header">
                <h3>Câp nhật tin tức</h3>
            </ng-template>
            <div style="width: 90%; margin-left: 5%;">
                <label style="font-weight: bold;">Tiêu đề:</label>
                <input type="text"  class="form-control"  placeholder="Tiêu đề">
                <label style="font-weight: bold;">Nội dung:</label>
                <p-editor  [style]="{'height':'320px'}"></p-editor>
            </div>
            
            <p-footer>
                <button type="submit"  class="btn btn-primary waves-effect waves-light mr-2">
                    <i class="mdi mdi-check"></i>
                    Cập nhật
                </button>
                <button type="button" (click)="displayAdd = false" class="btn btn-danger waves-effect waves-light">
                    <button type="button" (click)="displayEdit = false" class="btn btn-danger waves-effect waves-light"> <i
                        class="mdi mdi-window-close"></i>
                        Huỷ</button>
                    </p-footer> -->