/* You can add global styles to this file, and also import other style files */
.user-description-limit{
    width: '30vw';
    white-space: 'nowrap';
    overflow:'hidden';
    text-overflow:'ellipsis'
                
}