<div class="top">
    <h2>Phiếu nhập mua</h2>
    <div class="left">
        <p-button (click)="showAdd()" icon="pi pi-external-link" label="Thêm"></p-button>
        <p-button (click)="IsActive()" [style]="{'margin-left': '5px','class':'p-button-danger'}"
            label="Dữ liệu đẫ đình chỉ"></p-button>
    </div>
</div>
<!--explore data -->
<p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}" [hidden]="filter.FilterColumn==null?true:false">
    <form class="form-horizontal" (ngSubmit)="search(form)" #form="ngForm">
        <div class="form-group">
            <div class="col-sm-11">
                <input type="text" (change)="InitValueFormFilter()" [(ngModel)]="filter.FilterValue"
                    class="form-control" placeholder="nhập giá trị tìm kiếm" name="FilterValue">

                <p-dropdown [options]="filterTypeColumn" placeholder="Tùy chọn cột" optionLabel="viewValue"
                    optionValue="value" (onChange)="InitValueFormFilter()" [(ngModel)]="filter.FilterColumn"
                    name="FilterColumn" ngModel #FilterColumn="ngModel">
                </p-dropdown>

                <p-dropdown [options]="filterTypeValue" (onChange)="InitValueFormFilter()"
                    [(ngModel)]="filter.FilterType" placeholder="Tùy chọn so sánh" editable="true"
                    optionLabel="viewValue" optionValue="value" [showClear]="true" name="FilterValue" ngModel
                    #FilterValue="ngModel"></p-dropdown>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-11">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Tìm</button>
            </div>
        </div>
    </form>
</p-panel>


<div class="bot">
    <p-table [resizableColumns]="true" selectionMode="single" [value]="listItem.Items"
        styleClass="p-datatable-gridlines" [style]="{'margin-top': '2px', 'width': '100%'}">
        <ng-template pTemplate="header">
            <tr>
                <th>STT</th>
                <th id="docCode" (dblclick)="ChangeColorColumnIsClick('docCode')" (click)="OrderBy('docCode')">Mã phiếu
                </th>
                <th id="Stt" (dblclick)="ChangeColorColumnIsClick('Stt')" (click)="OrderBy('Stt')">Số
                </th>
                <th id="docDate" (dblclick)="ChangeColorColumnIsClick('docDate')" (click)="OrderBy('docDate')">Ngày</th>
                <th id="supplierCode" (dblclick)="ChangeColorColumnIsClick('supplierCode')"
                    (click)="OrderBy('supplierCode')">Mã nhà cung cấp</th>
                <th id="person" (dblclick)="ChangeColorColumnIsClick('person')" (click)="OrderBy('person')">Họ tên</th>
                <th id="address" (dblclick)="ChangeColorColumnIsClick('address')" (click)="OrderBy('address')">Địa chỉ
                </th>
                <th id="amount" (dblclick)="ChangeColorColumnIsClick('amount')" (click)="OrderBy('amount')">Tiền</th>
                <th id="description" (dblclick)="ChangeColorColumnIsClick('description')"
                    (click)="OrderBy('description')">Ghi chú</th>
                <th>Cập nhật</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr [style.Color]="item.isGroup == true  ? 'Blue' : ''" (dblclick)="nodeSelect(undefined,item)">
                <td style="text-align: center;">{{i+1}}</td>
                <td>{{item.docCode}}</td>
                <td>{{item.stt}}</td>
                <td>{{item.docDate|DateVN}}</td>
                <td>{{item.supplierCode}}</td>
                <td>{{item.person}}</td>
                <td>{{item.address}}</td>
                <td>{{item.amount|currency:'VND':true}}</td>
                <td>{{item.description}}</td>

                <td style="text-align: center;">
                    <div [hidden]="item.isActive">
                        <button (click)="Restore(item.id)" pButton type="button" title="Khôi phục"
                            class="p-button-secondary"><i class="fas fa-edit"></i></button>
                    </div>
                    <div [hidden]="!item.isActive">
                        <button (click)="showEdit(item)" pButton type="button" title="Sửa" class="p-button-secondary"><i
                                class="fas fa-edit"></i></button>
                        <button (click)="Delete(item.id)" pButton type="button" title="Xóa" class="p-button-danger"><i
                                class="fas fa-trash"></i></button>
                        <button (click)="displayConvert=true; selectItem=item" pButton type="button"
                            title="Chuyển nhóm"><i class="pi pi-reply"></i></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="mt-5" style="position: relative;margin-left: 40%;">
        <ngb-pagination [collectionSize]="listItem.TotalRecords" [pageSize]="listItem.PageSize"
            [(page)]="listItem.PageIndex" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)">
        </ngb-pagination>
    </div>
</div>
<!--end explore data -->

<!-- Start Display form Add new-->
<p-dialog [(visible)]="displayAdd" [style]="{width: '80vw'}" [dismissableMask]="true" [modal]="true">

    <ng-template pTemplate="header">
        <h3>Thêm </h3>
    </ng-template>
    <!-- Content -->
    <form (ngSubmit)="Add(form2,false,addType); " #form2="ngForm" [hidden]="!displayEditChild">

        <div style="width: 90%; margin-left: 5%;">
            <label style="font-weight: bold;">Mã:</label>
            <input name="DocCode" ngModel #DocCode="ngModel" type="text" class="form-control">
            <label style="font-weight: bold;">ngày:</label>
            <input name="DocDate" ngModel #DocDate="ngModel" type="date" class="form-control">
            <label style="font-weight: bold;">nhà cung cấp:</label>
            <input name="SupplierCode" ngModel #SupplierCode="ngModel" type="text" class="form-control">
            <label style="font-weight: bold;">Họ và tên:</label>
            <input name="Person" ngModel #Person="ngModel" type="text" class="form-control">
            <label style="font-weight: bold;">Địa chỉ:</label>
            <input name="Address" ngModel #Address="ngModel" type="text" class="form-control">

            <label style="font-weight: bold;">Chi tiết phiếu:</label>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn vị tính</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th>Ảnh</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of fieldArray; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <input [(ngModel)]="field.productCode" class="form-control" type="text"
                                name="{{field.productCode}}" />
                        </td>
                        <td>
                            <input [(ngModel)]="field.productName" class="form-control" type="text"
                                name="{{field.productName}}" />
                        </td>
                        <td>
                            <input [(ngModel)]="field.quantity" class="form-control" type="number"
                                name="{{field.quantity}}" />
                        </td>
                        <td>
                            <input [(ngModel)]="field.unit" class="form-control" type="text" name="{{field.unit}}" />
                        </td>
                        <td>
                            <input [(ngModel)]="field.unitPrice" class="form-control" type="number"
                                name="{{field.unitPrice}}" />
                        </td>
                        <td>
                            {{field.amount|currency:'VND':true}}

                        </td>
                        <td>
                            <img width="50px" src="{{_url}}/{{field.imagePath}}" alt="">
                        </td>
                        <td>
                            <input [(ngModel)]="field.note" class="form-control" type="text" name="{{field.note}}" />
                        </td>
                        <td>
                            <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{fieldArray.length + 1}}
                        </td>
                        <td>
                            <p-autoComplete class="form-control" [suggestions]="lookupProduct" [dropdown]="true"
                                (onSelect)="SelectForeignKey($event,'productCode')" field="name"
                                (completeMethod)="Lookup($event)"></p-autoComplete>
                        </td>
                        <td>
                            <input class="form-control" type="text" [(ngModel)]="newAttribute.productName"
                                [value]="newAttribute.productName" />
                        </td>
                        <td>
                            <input class="form-control" type="number" (change)="setAmount()"
                                [(ngModel)]="newAttribute.quantity" name="newAttributequantity" />
                        </td>
                        <td>
                            <input class="form-control" type="text" [(ngModel)]="newAttribute.unit"
                                name="newAttributeunit" />
                        </td>
                        <td>
                            <input class="form-control" type="number" (change)="setAmount()"
                                [(ngModel)]="newAttribute.unitPrice" name="newAttributeunitPrice" />
                        </td>
                        <td>
                            {{newAttribute.amount|currency:'VND':true}}
                        </td>
                        <td>
                            <img width="50px" src="{{_url}}/{{newAttribute.imagePath}}" alt="">
                        </td>
                        <td>
                            <input class="form-control" type="text" [(ngModel)]="newAttribute.note"
                                name="newAttributenote" />
                        </td>
                        <td>
                            <button class="btn btn-default" type="button" (click)="addFieldValue()">Thêm</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--  -->
            <button type="submit" [style]="{'margin-top': '2px' ,'margin-left': '2px'}" (click)="addType=0"
                class="btn btn-primary waves-effect waves-light mr-2">
                <i class="mdi mdi-check"></i>
                Lưu và thêm mới
            </button>
            <button type="submit" [style]="{'margin-top': '2px' ,'margin-left': '2px'}" (click)="addType=1"
                class="btn btn-primary waves-effect waves-light mr-2">
                <i class="mdi mdi-check"></i>
                Lưu và thêm bản sao mới
            </button>
            <button type="submit" [style]="{'margin-top': '2px','margin-left': '2px'}" (click)="addType=2"
                class="btn btn-primary waves-effect waves-light mr-2">
                <i class="mdi mdi-check"></i>
                Lưu và quay ra
            </button>
        </div>

    </form>
    <ng-template pTemplate="footer">
        <button type="button" (click)="displayAdd = false" class="btn btn-danger waves-effect waves-light"> <i
                class="mdi mdi-window-close"></i>
            Huỷ</button>
    </ng-template>
</p-dialog>


<!-- Start Display form edit-->
<p-dialog [(visible)]="displayUpdate" [style]="{width: '80vw'}" [dismissableMask]="true" [modal]="true">

    <!-- Content -->
    <form (ngSubmit)="Update(form2,addType)" #form2="ngForm" [hidden]="!displayEditChild">
        <div style="width: 90%; margin-left: 5%;">
            <label style="font-weight: bold;">Mã:</label>
            <input name="docCode" [(ngModel)]="selectItem.docCode" #docCode="ngModel" type="text" class="form-control"
                >
                <label style="font-weight: bold;">ngày:</label>
            <input name="docDate" [(ngModel)]="selectItem.docDate" value="{{selectItem.docDate}}" #docDate="ngModel" type="date" class="form-control"
                >
                <label style="font-weight: bold;">Nhà cung cấp:</label>
                <input name="supplierCode" [(ngModel)]="selectItem.supplierCode" #supplierCode="ngModel" type="text" class="form-control"
                >
                <label style="font-weight: bold;">Họ và tên:</label>
                <input name="person" [(ngModel)]="selectItem.person" #person="ngModel" type="text" class="form-control"
                >
                <label style="font-weight: bold;">địa chỉ:</label>
                <input name="address" [(ngModel)]="selectItem.address" #address="ngModel" type="text" class="form-control"
                >
                <label style="font-weight: bold;">Tổng tiền: {{selectItem.amount|currency:'VND':true}}</label>
              
<br>
            <label style="font-weight: bold;">Chi tiết phiếu:</label>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn vị tính</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th>Ảnh</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of fieldArray; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <input [(ngModel)]="field.productCode" class="form-control" type="text"
                                name="{{field.productCode}}" />
                        </td>
                        <td>
                            <input [(ngModel)]="field.productName" class="form-control" type="text"
                                name="{{field.productName}}" />
                        </td>
                        <td>
                            <input [(ngModel)]="field.quantity" class="form-control" type="number"
                                name="{{field.quantity}}" />
                        </td>
                        <td>
                            <input [(ngModel)]="field.unit" class="form-control" type="text" name="{{field.unit}}" />
                        </td>
                        <td>
                            <input [(ngModel)]="field.unitPrice" class="form-control" type="number"
                                name="{{field.unitPrice}}" />
                        </td>
                        <td>
                            {{field.amount|currency:'VND':true}}

                        </td>
                        <td>
                            <img width="50px" src="{{_url}}/{{field.imagePath}}" alt="">
                        </td>
                        <td>
                            <input [(ngModel)]="field.note" class="form-control" type="text" name="{{field.note}}" />
                        </td>
                        <td>
                            <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{fieldArray.length + 1}}
                        </td>
                        <td>
                            <p-autoComplete class="form-control" [suggestions]="lookupProduct" [dropdown]="true"
                                (onSelect)="SelectForeignKey($event,'productCode')" field="name"
                                (completeMethod)="Lookup($event)"></p-autoComplete>
                        </td>
                        <td>
                            <input class="form-control" type="text" [(ngModel)]="newAttribute.productName"
                                [value]="newAttribute.productName" />
                        </td>
                        <td>
                            <input class="form-control" type="number" (change)="setAmount()"
                                [(ngModel)]="newAttribute.quantity" name="newAttributequantity" />
                        </td>
                        <td>
                            <input class="form-control" type="text" [(ngModel)]="newAttribute.unit"
                                name="newAttributeunit" />
                        </td>
                        <td>
                            <input class="form-control" type="number" (change)="setAmount()"
                                [(ngModel)]="newAttribute.unitPrice" name="newAttributeunitPrice" />
                        </td>
                        <td>
                            {{newAttribute.amount|currency:'VND':true}}
                        </td>
                        <td>
                            <img width="50px" src="{{_url}}/{{newAttribute.imagePath}}" alt="">
                        </td>
                        <td>
                            <input class="form-control" type="text" [(ngModel)]="newAttribute.note"
                                name="newAttributenote" />
                        </td>
                        <td>
                            <button class="btn btn-default" type="button" (click)="addFieldValue()">Thêm</button>
                        </td>
                    </tr>
                </tbody>
            </table>


            <button type="submit" [style]="{'margin-top': '2px' ,'margin-left': '2px'}" (click)="addType=0"
                class="btn btn-primary waves-effect waves-light mr-2">
                <i class="mdi mdi-check"></i>
                Lưu và thêm mới
            </button>
            <button type="submit" [style]="{'margin-top': '2px' ,'margin-left': '2px'}" (click)="addType=1"
                class="btn btn-primary waves-effect waves-light mr-2">
                <i class="mdi mdi-check"></i>
                Lưu và thêm bản sao mới
            </button>
            <button type="submit" [style]="{'margin-top': '2px','margin-left': '2px'}" (click)="addType=2"
                class="btn btn-primary waves-effect waves-light mr-2">
                <i class="mdi mdi-check"></i>
                Lưu và quay ra
            </button>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button type="button" (click)="displayUpdate = false" class="btn btn-danger waves-effect waves-light"> <i
                class="mdi mdi-window-close"></i>
            Huỷ</button>
    </ng-template>

</p-dialog>
<!-- End Display form edit-->