<div class="row">
    <div class="col-xs-12">
      <div class="error-container">
        <div class="well">
          <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
              <i class="ace-icon fa fa-random"></i>
              401
            </span>
            Không có quyền truy cập
          </h1>
  
          <hr />
          <h3 class="lighter smaller">
            Vui lòng liên hệ quản trị viên
          </h3>
  
          <div class="space"></div>
  
          <div>
            <h4 class="lighter smaller">Bạn có thể thực hiện những thao tác sau:</h4>
  
            <ul class="list-unstyled spaced inline bigger-110 margin-15">
              <li>
                <i class="ace-icon fa fa-hand-point-right blue"></i>
                Xem hướng dẫn thực hiện của màn hình ở góc trên bên phải
              </li>
  
              <li>
                <i class="ace-icon fa fa-hand-point-right blue"></i>
                Phản hồi thông tin với quản trị viên
              </li>
            </ul>
          </div>
  
          <hr />
          <div class="space"></div>
  
          <div class="center">
            <a href="javascript:history.back()" class="btn btn-grey">
              <i class="ace-icon fa fa-arrow-left"></i>
              Quay lại
            </a>
            <a href='/' class="btn btn-primary">
              <i class="ace-icon fa fa-home"></i>
              Trang chủ
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  