<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Trang chủ</a>
      </li>
      <li class="active">Quản lý loại sản phẩm</li>
    </ul><!-- /.breadcrumb -->
  </div>
  <div class="page-content"> 
    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
                   Nội dung trang quản lý loại sản phẩm
        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->