<div class="vertical-menu">
    
    <div data-simplebar class="h-100">
        
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>
                
                
                <li>
                    <a [routerLink]="['/dashboard']"  class="waves-effect">
                        <span class="badge rounded-pill bg-primary float-end">20+</span>
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                
                <!-- <li>
                    <a [routerLink]="['/manage-products-group']" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Nhóm sản phẩm </span>
                    </a>
                </li> -->
                  <li>
                    <a [routerLink]="['/tin-tuc']" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> tin tức </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/manage-categories']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Loại sản phẩm </span>
                    </a>
                </li>
                  <li>
                    <a [routerLink]="['/manage-product-brand']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Hãng sản phẩm </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/manage-products']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Sản phẩm </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/manage-product-detail']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Thông tin sản phẩm </span>
                    </a>
                </li>
                 <li>
                    <a [routerLink]="['/manage-orders']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Hóa đơn </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/manage-acc-doc']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Phiếu nhập </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/manage-open-inventory']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Tồn đầu</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/login-event']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Nhật ký </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/open-inventory-system']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Tồn hàng hóa</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/manage-users']"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Người dùng </span>
                    </a>
                </li>

                <li>
                    <a (click)="onLogOut()"  class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Đăng xuất </span>
                    </a>
                </li>
              
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Nhân viên </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['/manage-users']"  > nhân viên </a></li>
                        <li><a  [routerLink]="['/manage-permision']" >Nhóm nhân viên</a></li>
                        <li><a  [routerLink]="['/manage-permision-detail']" >Phân quyền</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-email-outline"></i>
                        <span> Thống kê </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['/manage-best-selling']">Thống kê sản phẩm bán chạy</a></li>
                        <li><a [routerLink]="['/manage-amount']">Thống kê số lượng</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>