<div class="top">
    <h2>Phân quyền</h2>
    <div class="right">
        <!-- <button class="btnX" pButton type="button" (click)="showAdd()" lable="Thêm"></button> -->
        <p-button (click)="showAdd()" icon="pi pi-external-link" label="Thêm"></p-button>
        
    </div>
</div>
<div class="bot">
    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
        <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> Nhóm nhân viên </label>
                <div class="col-sm-11">
                    <input formControlName="permisionCode" class="form-control" type="text" placeholder="Nhóm nhân viên" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> Tài khoản </label>
                <div class="col-sm-11">
                    <input formControlName="taiKhoan" class="form-control" type="text" placeholder="Tài khoản" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"></label>
                <div class="col-sm-11">
                    <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                </div>
            </div>
        </form> 
    </p-panel>
    <p-table selectionMode="single" [value]="PermisionsDetais" styleClass="p-datatable-gridlines" [style]="{'margin-top': '2px', 'width': '100%'}" >
        <ng-template pTemplate="header">
            <tr>
                <th>STT</th>
                <th>Nhóm nhân viên</th>
                <th>Chức năng</th>
                <th>Đọc</th>
                <th>Tạo mới</th>
                <th>Sửa</th>
                <th>Xóa</th>
                <th>Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item  let-i="rowIndex" let-expanded="expanded">
            <tr>
                <td style="text-align: center;">{{i+1}}</td>
                
                <td>{{item.permisionCode}}</td>  
                <td>{{item.functionCode}}</td>
                <td>{{item.canRead}}</td>
                <td>{{item.candelete}}</td>
                <td>{{item.canupdate}}</td>
                <td>{{item.candelete}}</td>
                <td  style="text-align: center;">
                    <button pButton type="button" (click)="showEdit(item)" title="Sửa"  class="p-button-secondary"><i class="fas fa-edit"></i></button>
                    <button pButton type="button" (click)="delete(item.id)" title="Xóa"  class="p-button-danger"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    
</div>

<!-- Add -->
<p-dialog [(visible)]="displayAdd" [style]="{width: '50vw'}" [dismissableMask]="true" [modal]="true">
    <form (ngSubmit)="AddNew(form)" #form="ngForm">
        <h3 >Nhập thông tin người dùng </h3>
     
        <div >
            <label style="font-weight: bold;">Nhóm nhân viên:</label>
            
            
            <p-dropdown class="form-control" [options]="Permisions" [(ngModel)]="_selectedPermision" 
            placeholder="Chọn loại sản phẩm" optionLabel="name" optionValue="code" [showClear]="true" name="permisionCode"  ngModel #permisionCode="ngModel"  
           ></p-dropdown>


            <label style="font-weight: bold;">Chức năng:</label>
                 
            
            <p-dropdown class="form-control" [options]="Functions" [(ngModel)]="_selectedFunction" 
            placeholder="Chọn loại sản phẩm" optionLabel="name" optionValue="code" [showClear]="true" name="functionCode"   ngModel #functionCode="ngModel"  
           ></p-dropdown>
          



            <!-- <label style="font-weight: bold;">chức năng:</label> -->
            <!-- <p-dropdown class="form-control" [options]="_ListFunction" [(ngModel)]="FunctionCode" formControlName="FunctionCode" filter="true" filterPlaceholder="Tìm kiếm" placeholder="Chọn nhóm nhân viên" [showClear]="true"  optionLabel="Name" optionValue="code" name="functionCode"  [showClear]="true"  ngModel #functionCode="ngModel"></p-dropdown>
            <div *ngIf="submitted && f.permisionCode.errors" class="invalid-feedback">
                <div *ngIf="f.permisionCode.errors.required">Chức năng là bắt buộc</div>
            </div> -->
         <br>

            <label style="font-weight: bold;">Có thể xem dữ liệu</label>
            <input type="checkbox" name="canRead"   ngModel #canRead="ngModel"  placeholder="Nhập lại mật khẩu" />
<br>
            <label style="font-weight: bold;">Có thể tạo mới dữ liệu</label>
            <input type="checkbox" name="canCreate"   ngModel #canCreate="ngModel"  placeholder="Nhập lại mật khẩu" />
<br>
            <label style="font-weight: bold;">Có thể sửa dữ liệu</label>
            <input type="checkbox"  name="canupdate"   ngModel #canupdate="ngModel"  placeholder="Nhập lại mật khẩu" />
<br>
            <label style="font-weight: bold;">Có thể xóa dữ liệu</label>
            <input type="checkbox" name="candelete"   ngModel #candelete="ngModel"  placeholder="Nhập lại mật khẩu" />
           
        </div>
        <p-footer>
            <button type="submit" class="btn btn-primary waves-effect waves-light mr-2" >
                <i class="mdi mdi-check"></i>Lưu
            </button>
            <button type="button" (click)="displayAdd=false" class="btn btn-danger waves-effect waves-light"> <i class="mdi mdi-window-close"></i>
                Huỷ
            </button>
        </p-footer>
    </form>
</p-dialog>



