<div class="bot">

    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
        <form (ngSubmit)="AddAccDoc(form)" #form="ngForm">
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> Ngày </label>
                <div class="col-sm-11">
                    <p-calendar *ngIf="IsFormAdd" class="form-control" name="docDate" ngModel #docDate="ngModel"
                        [dateFormat]="dateFormat" [locale]="locale_vn" [showIcon]="true" inputId="icon"></p-calendar>

                    <input *ngIf="!IsFormAdd" formControlName="docDate" class="form-control" type="text"
                        value="{{AccDocDetais.docDate}}" [(ngModel)]="AccDocDetais.docDate" />

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> số phiếu </label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="stt" ngModel #stt="ngModel" placeholder="số phiếu"
                        value="{{AccDocDetais.stt}}" [(ngModel)]="AccDocDetais.stt">
                </div>


            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> nội dung </label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="description" ngModel #description="ngModel"
                        placeholder="Nội dung" value="{{AccDocDetais.description}}"
                        [(ngModel)]="AccDocDetais.description">

                </div>
            </div>
            
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                <i class="mdi mdi-check"></i>
                Lưu
            </button>
        </form>
    </p-panel>
    <p-table selectionMode="single" [value]="AccDocDetais.listjson" styleClass="p-datatable-gridlines"
        [style]="{'margin-top': '2px', 'width': '100%'}" *ngIf="!IsFormAdd">
        <ng-template pTemplate="header">
            <tr>
                <th>STT</th>
                <th>ngày</th>
                <th>Mã sản phẩm</th>
                <th>đơn vị tính</th>
                <th>số lượng</th>
                <th>đơn giá</th>
                <th>thành tiền</th>
                <th>Ghi chú</th>
                <th>Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex" let-expanded="expanded">
            <tr>
                <td style="text-align: center;">{{i+1}}</td>
                <td style="text-align: center;">{{item.docDate|DateVN}}</td>
                <td>{{item.producdId}}</td>
                <td>{{item.unit}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.unitCost}}</td>
                <td>{{item.amount|currency:'VND':true}}</td>
                <td>{{item.note}}</td>
                <td style="text-align: center;">
                    <button pButton type="button" (click)="delete(item.stt)" title="Xóa" class="p-button-danger"><i
                            class="fas fa-trash"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <table class="table table-striped table-bordered" [hidden]="!IsFormAdd">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>đơn vị tính</th>
                <th>số lượng</th>
                <th>đơn giá</th>
                <th>thành tiền</th>
                <th>Ghi chú</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of fieldArray; let i = index">
                <td>{{i+1}}</td>
                <td>
                    <input [(ngModel)]="field.ProducdId" class="form-control" type="text" name="{{field.ProducdId}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.unit" class="form-control" type="text" name="{{field.unit}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.quantity" class="form-control" type="text" name="{{field.quantity}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.unitCost" class="form-control" type="text" name="{{field.unitCost}}" />
                </td>
                <td>
                    <p>{{field.amount |currency:'VND':true}}</p>

                </td>
                <td>
                    <input [(ngModel)]="field.note" class="form-control" type="text" name="{{field.note}}" />
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    {{fieldArray.length + 1}}
                </td>
                <td>
                    <p-dropdown [options]="Products" [(ngModel)]="product" optionLabel="tenSanPham" [filter]="true"
                        filterBy="tenSanPham" [showClear]="true" placeholder="Select a Country"
                        (onChange)="onChangeSelectProduct()">

                        <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value" *ngIf="product">
                                <div style="width: 150px;">{{product.tenSanPham}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{country.tenSanPham}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.ProducdId"
                        name="newAttributeCode" value="abc" hidden />
                </td>
                <!-- <td>
                    
                </td> -->
                <td>
                    <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.unit"
                        name="newAttributeCode" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.quantity"
                        (change)="UpdateAmount()" name="newAttributeCode" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.unitCost"
                        (change)="UpdateAmount()" name="newAttributeCode" />
                </td>
                <td>
                    {{newAttribute.amount|currency:'VND':true}}
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.note"
                        name="newAttributePrice" />
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="addFieldValue()">Thêm</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>