

    <nav class="breadcrumb-bg">
        <div class="container no-index">
            <div class="breadcrumb">
                <ol>
                    <li>
                        <a href="/">
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Giới Thiệu</span>
                        </a>
                    </li>
                    
                 
                </ol>
            </div>
        </div>
    </nav>


<!-- ...:::: Start Shop Section:::... -->
<!-- ...:::: End Breadcrumb Section:::... -->

<!-- Start About Top -->
<div class="about-top">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between d-sm-column">
            <div class="nd"><p style="text-align: center;"><span style="font-size: 24pt; color: #333399;"><strong>GIỚI THIỆU VỀ VANTHE COMPUTER</strong></span></p>
                <p><span style="color: #ff0000; font-size: 14pt;"><strong style="font-size: 12pt; text-align: justify;">1. GIỚI THIỆU CÔNG TY</strong></span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Công ty TNHH Máy Tính và Viễn Thông VanThe là một trong những doanh nghiệp tiên phong&nbsp; trong lĩnh vực công nghệ thông tin tại Hà Nội.</span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Tên Tiếng Việt: Công ty TNHH Máy Tính và Viễn Thông VanThe</span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Tên Tiếng Anh: VanThe Computer &amp; Telecom Company Limited</span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Tên viết tắt: AKC CO.., LTD</span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Giấy ĐKKD: <span style="font-size: 12pt;">Số 0103728344, cấp ngày 20/4/2009 do SKHĐT TP. Hà Nội cấp.</span></span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Trụ sở chính:&nbsp;Số 25 Phố Yên Lãng, Phường Trung Liệt, Quận Đống Đa, Thành phố Hà Nội, Việt Nam</span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Cơ sở 2:&nbsp;Số 105 Mễ Trì Thượng,&nbsp;Phường Mễ Trì,&nbsp;Quận Nam Từ Liêm,&nbsp;Thành phố Hà Nội, Việt Nam</span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Giám đốc: Ông Phạm Anh Dậu</span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Điện thoại:&nbsp;1900 2655 (+302)</span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Website: <span style="color: #333399;"><a style="color: #333399;" href="http://www.ankhang.vn">www.ankhang.vn</a></span></span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Mã số thuế: 0103728344</span></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- <strong>Logo VanThe</strong></span></p>
                <p style="text-align: center;"><img src="/media/about/1404_logo-an-khang.jpg" alt="" width="500">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="/media/about/2511_Logo_TAForPrint-01.jpg" alt=""></p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p><span style="font-size: 14pt; color: #ff0000;"><strong>Ý TƯỞNG HÌNH THÀNH</strong></span></p>
                <table>
                <tbody>
                <tr>
                <td style="width: 20%;"><img src="https://www.ankhang.vn/media/about/2512_Logo-ankhang.jpg" alt="" width="450" height="318"></td>
                <td>
                <p><span style="font-size: 12pt;">Chữ A đại diện cho thương hiệu được cách điệu thành nhiều hình tượng ý nghĩa. Khối hình gợi đến hình ảnh ngọn núi, thể hiện sự vững chãi và trường tồn; ngọn núi vươn cao thể hiện sự phát triển bền vững và sự đi đầu, vươn tới đỉnh cao của doanh nghiệp.</span></p>
                <p><span style="font-size: 12pt;">Ngôi sao bay vút lên thể hiện cho chất lượng đi đầu, cùng khát vọng vươn tới tương lai và tầm cao mới.</span></p>
                <p><span style="font-size: 12pt;"><strong>Màu sắc:&nbsp;</strong>Tông màu xanh dương an toàn và đáng tin cậy. Font chữ khỏe khoắn và hiện đại, làm bệ đỡ vững chắc cho biểu tượng bên trên.&nbsp;</span></p>
                </td>
                </tr>
                </tbody>
                </table>
                <p style="text-align: justify;"><strong style="font-size: 12pt;"><span style="font-size: 12pt; color: #ff0000;"><br>2. QUÁ TRÌNH HÌNH THÀNH VÀ PHÁT TRIỂN</span></strong></p>
                <p style="text-align: justify;"><span style="font-size: 12pt;">Công ty TNHH Máy Tính và Viễn Thông VanThe được thành lập theo Quyết định số <strong>0103728344</strong> do Sở Kế Hoạch và Đầu Tư thành phố Hà Nội cấp ngày 20 tháng 4 năm 2009; với chức năng Bán buôn, bán lẻ, dịch vụ và lắp ráp các sản phẩm trong lĩnh vực tin học.</span></p>
                <table>
                <tbody>
                <tr>
                <td style="width: 20%;"><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/about/1404_tam-huyet.jpg" alt="" width="350"></td>
                <td>
                <p><span style="font-size: 12pt;">VanThe là tâm huyết của những sáng lập viên giàu kinh nghiệm, năng động và đầy nhiệt huyết trong ngành Công nghệ thông tin. Công ty luôn tự hào mang đến cho Khách hàng sự tin cậy với những sản phẩm chính hãng, mới 100%, giá cả cạnh tranh tốt nhất Miền Bắc. Trải qua những khó khăn của khủng hoảng kinh tế, VanThe luôn đứng vững và tạo ra thương hiệu vị thế trên thị trường, mãi mãi trong lòng khách hàng một VanThe “<strong>Uy tín - Chuyên nghiệp - Cam kết</strong>” cùng chữ “<strong>TÂM</strong>” để vững mạnh, tiến bước cao hơn xa hơn.</span></p>
                </td>
                </tr>
                <tr>
                <td style="width: 20%;"><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/about/1404_ban-hang-akc.jpg" alt="" width="350"></td>
                <td>
                <p><span style="font-size: 12pt;">Sản phẩm của VanThe đa dạng từ Máy tính bàn, Laptop, Máy tính bảng, Máy in, Máy nghe nhạc …&nbsp;là đối tác cao cấp của các Tập đoàn công nghệ hàng đầu thế giới như: <em><strong>Intel, Asus, Dell, Sony, HP, Lenovo, Acer, Canon, Microsoft</strong> </em>…&nbsp;&nbsp;</span></p>
                <p><span style="font-size: 12pt;">VanThe đã xây dựng một hệ thống bán hàng trực tuyến trên website&nbsp;<a href="http://www.ankhang.vn/">www.ankhang.vn</a>&nbsp;giúp khách hàng có thể lựa chọn sản phẩm, mua hàng nhanh chóng và thuận tiện ngay tại nhà hoặc văn phòng làm việc.</span></p>
                </td>
                </tr>
                <tr>
                <td style="width: 20%;"><img src="/media/about/1404_an-khang-doan-ket.jpg" alt="" width="350"></td>
                <td>
                <p><span style="font-size: 12pt;">Với đội ngũ cán bộ, nhân viên nhiệt tình, chuyên nghiệp (90% tốt nghiệp CĐ &amp; ĐH), Khách hàng sẽ nhận được dịch vụ hoàn hảo, đảm bảo được tối đa lại lợi ích phù hợp của hàng hóa.</span></p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp; &nbsp;</p>
                <p style="text-align: justify;"><span style="font-size: 12pt;">Song song với việc hoàn thiện tổ chức hướng tới giảm chi phí không cần thiết tạo giá bán tốt nhất trên thị trường, VanThe đặt trọng tâm của sự phát triển vào dịch vụ sau bán hàng đảm bảo quyền lợi tối ưu cho Quý Khách hàng.&nbsp;</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; color: #ff0000;"><strong>3. LĨNH VỰC HOẠT ĐỘNG</strong></span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt;">Phân phối lắp đặt, bảo hành các sản phẩm máy tính và thiết bị máy tính gồm có:</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">- Máy tính để bàn</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">- Máy laptop</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">- Máy tính bảng</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">- Linh kiện laptop</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">- Máy văn phòng</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">- Tivi, màn hình</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">- Thiết bị mạng, camera giám sát</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">- Thiết bị ngoại vi, kỹ thuật số</span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt;">Hệ thống kinh doanh gồm 3 kênh: Bán lẻ đến các đối tượng Khách hàng; Bán buôn đến các Đại lý ở cả 3 miền Bắc, Trung, Nam và kênh cung cấp thiết bị cho các Dự án…</span></p>
                <p style="text-align: justify;"><span style="color: #ff0000;"><strong style="font-size: 12pt;">4. CHIẾN LƯỢC HOẠT ĐỘNG</strong></span></p>
                <table>
                <tbody>
                <tr>
                <td style="width: 20%;"><img src="/media/about/1504_tam-nhin-an-khang.png" alt=""></td>
                <td>
                <p><span style="font-size: 12pt;"><strong>Tầm nhìn:</strong> Trở thành công ty hàng đầu trong lĩnh vực kinh doanh máy tính, linh kiện máy tính, thiết bị kỹ thuật số, phần mềm công nghệ tại Việt Nam.</span></p>
                <p><span style="font-size: 12pt;"><strong>Sứ mệnh:</strong> Chúng tôi cam kết không ngừng đổi mới, nỗ lực, sáng tạo để đem lại những sản phẩm với chất lượng, dịch vụ và giá cả tốt nhất thị trường. Để từ đó, không chỉ chúng tôi mà khách hàng cũng đạt được thành công mong muốn.</span></p>
                </td>
                </tr>
                <tr>
                <td><img src="/media/about/1504_an-khang-don-vi-uy-tin.png" alt=""></td>
                <td>
                <p><strong><span style="font-size: 12pt;">Giá trị cốt lõi:</span></strong></p>
                <p><span style="font-size: 12pt;"><strong>+ Uy tín:</strong> Đem đến các sản phẩm nguồn gốc chính hãng và chất lượng.</span></p>
                <p><span style="font-size: 12pt;"><strong>+ Tận tâm:</strong> Mang đến dịch vụ bán hàng, hậu mãi và chăm sóc khách hàng tốt nhất, đặt khách hàng là ưu tiên hàng đầu.</span></p>
                <p><span style="font-size: 12pt;"><strong>+ Cùng phát triển:</strong> Gắn kết giữa công ty và khách hàng nhằm mang lại cuộc sống tốt đẹp và thịnh vượng hơn.</span></p>
                </td>
                </tr>
                </tbody>
                </table>
                <p style="text-align: justify;"><span style="font-size: 12pt; color: #ff0000;"><strong><br>5. ĐỐI TÁC</strong></span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt;">VanThe là đối tác cao cấp của các Tập đoàn công nghệ hàng đầu thế giới như Intel, Asus, Dell, Sony, HP, Lenovo, Acer, Canon, Microsoft … cũng như những Công ty Công nghệ hàng đầu Việt Nam như&nbsp;: FPT, DGW, PSD, SPC, TLC, CMC, ... <br></span></p>
                <p style="text-align: center;"><span style="font-size: 12pt;"><img src="/media/about/1504_an-khang-hop-tac-cac-tap-doan-lon.png" alt=""></span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; color: #ff0000;"><strong><span style="font-family: Arial;">VANTHE - GAMING &amp; HI-END COMPUTER</span></strong></span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: Arial; color: #1c1c1c;"><span style="color: #333333;">Công ty VanThe rất vinh hạnh được hợp tác với Đơn vị cung cấp và phục vụ Quý Khách hàng, mọi chi tiết xin liên hệ:</span></span></p>
                <p style="text-align: justify;"><span style="color: #333333; font-size: 12pt;"><span style="font-family: Arial; color: #1c1c1c;">Địa chỉ: <strong>Số 25 Phố Yên Lãng, Phường Trung Liệt, Quận Đống Đa, Thành phố Hà Nội, Việt Nam</strong></span></span></p>
                <p style="text-align: justify;"><span style="color: #333333; font-size: 12pt;"><span style="font-family: Arial; color: #1c1c1c;">Hotline: <strong>1900 2655</strong></span></span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: Arial; color: #1c1c1c;"><strong>Phòng nhập hàng</strong>: </span></p>
                <p style="text-align: justify;"><span style="color: #333333; font-size: 12pt;"><span style="font-family: Arial; color: #1c1c1c;">Địa chỉ:&nbsp;Số 105 Mễ Trì Thượng,&nbsp;Phường Mễ Trì,&nbsp;Quận Nam Từ Liêm,&nbsp;Thành phố Hà Nội, Việt Nam</span></span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Tel: 1900 2655 (+208) - Hotline: 0981 999 688<br></span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt;"><span style="color: #1c1c1c; font-family: Arial;">Email: dau@ankhang.vn</span></span></p>
                <p style="text-align: justify;"><span style="font-size: 12pt;"><strong><span style="font-family: Arial; color: #1c1c1c;">Phòng Bảo hành</span></strong><span style="font-family: Arial; color: #1c1c1c;">:</span></span></p>
                <p style="text-align: justify;"><span style="color: #333333; font-size: 12pt;"><span style="font-family: Arial; color: #1c1c1c;">Địa chỉ:&nbsp;Số 25 Phố Yên Lãng, Phường Trung Liệt, Quận Đống Đa, Thành phố Hà Nội, Việt Nam</span></span></p>
                <p style="text-align: justify;"><span style="color: #333333; font-size: 12pt;"><span style="font-family: Arial; color: #1c1c1c;">Hotline: 093 669 7181 -&nbsp;Email: <a href="mailto:baohanh@ankhang.vn">baohanh@ankhang.vn</a></span><br></span></p>
                <p style="text-align: center;"><span style="color: #0000ff;"><strong><span style="font-size: 12pt;"><span style="font-family: Arial;">VANTHE - Siêu thị máy tính chính hãng</span></span></strong></span></p>
                <p style="text-align: center;"><span style="font-size: 12pt;"><span style="font-family: Arial; color: #1c1c1c;">Website: <span style="color: #333399;"><a style="color: #333399;" href="../" target="_blank"><span style="text-decoration: none;">www.</span><span style="text-decoration: none;">ankhang.vn</span></a></span> ; E- mail: sales@ankhang.vn</span></span></p></div>
        </div>
    </div>         
</div>
<!-- End About Top -->

<!-- Start Slill Progress -->
