<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <div id="main">
                <div class="page-home">

                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a routerLink="/">
                                            <span>Trang chủ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Tin Tức</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Chi tiết</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>
                    <br>
                    <br>
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                    <!-- category -->
                                    <div class="sidebar-block">
                                        <div class="title-block">Danh mục</div>
                                        <div class="block-content">
                                            <div class="cateTitle hasSubCategory open level1">
                                                <span class="arrow collapse-icons collapsed" data-toggle="collapse" data-target="#livingroom" aria-expanded="false" role="status">
                                                    <i class="zmdi zmdi-minus"></i>
                                                    <i class="zmdi zmdi-plus"></i>
                                                </span>
                                                <a class="cateItem" href="#">Danh mục</a>
                                                <div class="subCategory collapse" id="livingroom" aria-expanded="true" role="status">
                                                    <div class="cateTitle" *ngFor="let item of categories">
                                                        <a routerLink="/tin-tuc-chi-tiet/{{item.id}}" class="cateItem">{{item.name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>


                                    <!-- recent posts -->
                                    <div class="sidebar-block">
                                        <div class="title-block">Bài viết khác</div>
                                        <div class="post-item-content">
                                            <div *ngFor="let item of itemRelated">
                                                <div class="late-item first-child">
                                                    <a  routerLink="/tin-tuc-chi-tiet/{{item.id}}">
                                                        <p class="content-title">{{item.name}}</p>
                                                    </a>
                                                    <span>
                                                        <i class="zmdi zmdi-comments"></i>---</span>
                                                    <span>
                                                        <i class="zmdi zmdi-calendar-note"></i>{{item.createdAt | date:'dd/MM/yyyy'}}</span>
                                                    <p class="description" style="line-height: 1.2em;
                                                    height: 3.6em;
                                                    overflow: hidden;">{{item.description}}</p>
                                                    
                                                    <p class="remove">
                                                        <a  routerLink="/tin-tuc-chi-tiet/{{item.id}}">Xem</a>
                                                    </p>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>

                                    <!-- product tag -->
                                   
                                    <!-- advertising -->
                                    <div class="sidebar-block group-image-special">
                                        <div class="effect">
                                            <a href="{{slide[0].url}}">
                                                <img class="img-fluid" src="{{_url}}{{slide[0].image}}" alt="banner-2" title="banner-2">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs" style="width: 80%;">
                                    <h3>{{item.name}}</h3>
                                    <div class="hover-after">
                                        <img src="{{_url}}{{item.image}}" alt="img" class="img-fluid">
                                    </div>
                                    <div class="late-item"  [innerHTML]="item.content">
                                    
                                    </div>

                                   
                                    <div class="related">
                                        <h2 class="title-block">Bài viết khác</h2>
                                        <div class="main-blogs">
                                            <div class="row">
                                                <div class="col-md-4" *ngFor="let item of itemRelated">
                                                    <div class="hover-after">
                                                        <a routerLink="/tin-tuc-chi-tiet/{{item.id}}">
                                                            <img  width="200px" style="height:140px ;" src="{{_url}}{{item.image}}" alt="img" class="img-fluid">
                                                        </a>
                                                    </div>
                                                    <div class="late-item">
                                                        <br>
                                                        <p class="content-title">
                                                            <a routerLink="/tin-tuc-chi-tiet/{{item.id}}">{{item.name}}</a>
                                                        </p>
                                                        <p class="description" style="line-height: 1.2em;
                                                        height: 3.6em;
                                                        overflow: hidden;">{{item.description}}</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>